.adventure-item a {
    text-decoration: none;
    display: inline-flex;
    width: 80px;
    flex: 1;
    justify-content: center;
}

/*Adventure Item*/
.adventure-item {
    width: 312px;
    padding-left: 1rem;
    padding-top: 0.1rem;
    height: 150px;
    background: #414049;
    border-radius: 5px;
}

.acess-adventure {
    border: 0;
    height: 26px;
    color: #fff;
    background: #528FD7;
    border-radius: 5px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
}

.delete {
    height: 26px;
    border: 0;
    color: #fff;
    width: 80px;
    background: #D75252;
    border-radius: 6px;
    margin-left: 1rem;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
}

.put-adventure {
    height: 26px;
    border: 0;
    color: #fff;
    background: #ebbc3b;
    border-radius: 6px;
    margin-left: 1.5rem;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
}